.Menu {
  display: flex;
  margin: 3.7vh 3.5% 0;
  height: 40px;
}

/* MENU LEFT */
.MenuLeft {
  display: flex;
}

.Lang {
  margin-right: 22px;
}

.Lang span {
  cursor: pointer;
  height: 20px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.025em;
}

.LangDrop a {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 300ms ease, transform 300ms ease, visibility 3000ms ease;
}

.Lang span:hover + .LangDrop a {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.About {
  font-size: 14px !important;
}

/* MENU RIGHT */

.MenuRight {
  margin: 0 auto;
}

.LogoDesktop svg {
  width: 118px;
  height: 20px;
}

.LogoDesktop use {
  fill: #222;
}

.LogoDesktop {
  margin-top: -10px !important;
  /* overflow: hidden; */
  padding: 10px;
  height: auto;
  margin: 0 50px;
}

.Category {
  text-transform: uppercase;
  min-width: 72px;
  letter-spacing: 0.1em !important;
  font-size: 12px !important;
  text-align: center;
}